* {
  padding: 0;
  margin: 0;
}

#app {
  min-width: 1060px;
}

.bili-video-card__stats--icon {
  margin-right: 2px;
  width: var(--icon-size);
  height: var(--icon-size);
  color: #fff;
}

.icon-title {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
